body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.navbar{
    color: hotpink;
    background-color: black;
}
#navbarLogo{
    width: 15%;
}
.nav-item{
    font-size: 50px;
    margin-right: 150px;
}
.jumbotron{
    height: 200px;
    background-color: black;
}
.carousel{
    margin: auto;
    padding: 30px;
}
.hoursInfo{
    text-align: center;
    color: white;
    border: solid 1px white;
    padding: 5px;
}
.contactInfo{
    text-align: center;
    color: white;
    border: solid 1px white;
    padding: 30px;
}
#galleryPhotos{
    height: 100%;
    width: 100%;
    border: solid 1px hotpink;
    border-radius: 5%;
    margin:auto;
}
#galleryRow{
    margin: auto;
}
